VERIFICATION
Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Any binaries will be identical to the releases published on 
https://github.com/gdegeneve/Awake/releases

The fourth version number of the nuget package is only incremented to indicate 
changes to the install / uninstall scripts inside the nuget package, not the binary itself.